
.body{
  /*display: table;*/
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(70, 64, 64, 0.37) !important ; 
  }


.secondRow{
  height: 80%;

}

/* CSS used here will be applied after bootstrap.css */

.boxes{
	 height: 20%;
       
}

.topBar{
  
  height: 20%; 
 
}
.topBarSepDes{
  margin-bottom: 0px;
  margin-left: 23%;
  margin-right:2%; 
  background-color: rgba(47, 166, 181, 0.54);
  font-size: 3em;
}
.calImage{
  height: 80%;
  width: 90%;
  margin-left: 4%;
}


.leftPanel{
	background-color: #50514F;
	height: 80%;
  margin-left: 1%;
     
}
.rightPanel{
  padding-left: 0px;
  height: 80%;
  margin-left: -2%;

}
.filmStrip{
background-color:#FFE066;
height: 60%;
}
.moveBox{
	background-color: #33CCFF;	
  position:relative;
}

.imgDesR{
  height: 25%;
  margin-left: 5%;  
  margin-top: 10%;
  margin-bottom: 9%;
  width: 25%;

}
.imgDesL{
  height: 25%;
  margin-left: 5%;  
  margin-top: 10%;  
  width: 25%;

}
.target > div {
    display:none;
}

.target > div:target{
    display:block;
}




